<h1>The Imstagram Community</h1>
<a href="/members/new" id="new">New Member</a>

<div id="main_content">
	<% @members.each do |member| %>
		<div class="single member">
			<a href="/members/<%= member.id %>">
				<!-- <h4>TEMPORARILY KEEP THE ID: <%= member.id %> | </h4> -->
				<img src="<%= member.img_url %>" class="single_photo">
				<h2>"<%= member.name %>"</h2>
			</a>
		</div>
	<% end %>
</div>


<!-- members table column headers -->
	<!-- id | owner  |  name  |  img_url  |  birthday  |  location  |  breed  |  activities  |  toys  |  created_at -->
<!-- members table joined with photos -->