<div class="members">
	<h1>The Imstagram Community</h1>
	<h2>
		<a href="/members/new" id="new">New Member</a>
	</h2>
		<div id="group">
			<% @members.each do |member| %>
				<div class="single">
					<a href="/members/<%= member.id %>">
						<img src="<%= member.img_url %>">
						<p>"<%= member.name %>"<br>
						Owned By: <%= member.owner %></p>
					</a>
				</div>
			<% end %>
		</div>
</div>


<!-- members table column headers -->
	<!-- id | owner  |  name  |  img_url  |  birthday  |  location  |  breed  |  activities  |  toys  |  created_at -->
<!-- members table joined with photos -->