<h1>All Photo Posts</h1>
<a href="/photos/new" id="new">New Post</a>
<div id="main_content">
	<% @photos.each do |photo| %>
		<div class="single">
			<h4>Photo ID: <%= photo.id %></h4>
			<h2><%= photo.title %></h2>
				<a href="/photos/<%= photo.id %>">
						<img src="<%= photo.img_url %>" class="single_post">
				</a>
		</div>
	<% end %>
</div>




<!-- photos table column headers -->
	<!-- id | title  |  img_url  |  location |  created_at  |  caption  | member_id -->
<!-- photos table joined with tags -->