<h1> WELCOME TO MY Photo PAGE </h1>
<a href="/photos/new">New Post</a>
<div class="main_content">
	<% @photos.each do |photo| %>
		<h4>TEMPORARILY KEEP THE ID: <%= photo.id %></h4>
		<a href="/photos/<%= photo.id %>" alt="dog image"><img src="<%= photo.img_url %>"></a>
	<% end %>
</div>


<!-- id |  img_url |   location    |  created_at   |     caption | user_id  -->