<h1>Please Fill Out The Below Fields</h1>
<div class="main_content">
	<form action="/photos/photo.id" method="POST">
			<label for="url">Image:</label>
				<input type="text" name="photo[img_url]" value="URL"><br>
			<label for="location">Location of Photo:</label>
				<input type="text" name="photo[location]" value="State"><br>
			<label for="timestamp">Photo Taken On:</label>
				<input type="text" name="photo[created_at]" value="YYYY-MM-DD"><br>
			<label for="caption">Caption:</label>
				<input type="textarea" name="photo[caption]" value="Place caption here!"><br>
				
     <!-- MENU OF memberS -->
				<label>Choose a Member From the List Below or Add a New Member on the Members Page</label>
						<select name="photo[member_id]">
							<% @member.each do |member| %>
								<option value="<%= member.id %>"><%= member.owner %></option>
							<% end %>
						</select>



				<input type="submit" name="submit">
		</form>
</div>

<!-- photos table column headers -->
	<!-- id | title  |  img_url  |  location |  created_at  |  caption  | member_id -->
<!-- photos table joined with tags -->