<div class="members new">
	<h1>New Photo</h1>
		<form action="/photos/photo.id" method="POST" class="edit">
				<h2>Please Fill Out The Below Fields</h2>
				<label for="url">
					<span>Image:</span>
					<input type="text" name="photo[img_url]" value="URL"><br>
				</label>

				<label for="title">
					<span>Title:</span>
					<input type="text" name="photo[title]" value="Title"><br>
				</label>

				<label for="location">
					<span>Photo Taken In:</span>
					<input type="text" name="photo[location]" value="State"><br>
				</label>

				<label for="caption">
					<span>Caption:</span>
					<input type="text" name="photo[caption]" value="Place caption here!"><br>
				</label>
					
	     <!-- MENU OF MEMBERS -->
					<label for="member">
						<span>Member:</span>
							<select name="photo[member_id]">
								<% @member.each do |member| %>
									<option value="<%= member.id %>"><%= member.owner %></option>
								<% end %>
							</select>
					</label>

	     <!-- CHECKLIST OF TAGS -->
		     <div id="tag_add">
						<label for="tags">
							<span>Tag Your Photo:</span>
		    				<% @tags.each do |tag| %>
									<input type="checkbox" name="tags[]" value="<%= tag.id %>" checked class="tag"> <%= tag.name %>
								<% end %>
						</label>
					</div>
					<input type="submit" name="submit" class="button">
			</form>
</div>

<!-- photos table column headers -->
	<!-- id | title  |  img_url  |  location |  created_at  |  caption  | member_id -->
<!-- photos table joined with tags -->