<html>
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/normalize.css">
	<link rel="stylesheet" href="/style.css">

	<!-- FONT IMPORTS -->
	<link href='http://fonts.googleapis.com/css?family=Amatic+SC:400,700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Asap:400,700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Pontano+Sans' rel='stylesheet' type='text/css'>
	<!-- END FONT IMPORTS -->
	
	<title>Imstagram</title>
</head>
<body>
	<div id="nav">
 			<a href="/">Home</a> <span class="divider">|</span>			
			<a href="/members">Members</a> <span class="divider">|</span>
			<a href="/photos">Photos</a> <span class="divider">|</span>
			<a href="/tags">Tags</a>
		</div>

	<%= yield %>
</body>
</html>