<html>
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/style.css">
	<title>Imstagram</title>
</head>
<body>
	<div id="nav">
			<a href="/">Home</a> |
			<a href="/members">Members</a> |
			<a href="/photos">Photos</a> |
			<a href="/tags">Tags</a>
		</div>

	<%= yield %>
</body>
</html>