@import url(http://fonts.googleapis.com/css?family=Oswald);

/*-------- GLOBAL STYLING --------*/

html {
		/*background: url(http://media.tumblr.com/33b269f01dc188d6cddd39887b486b59/tumblr_inline_mkjkxoxwl51qz4rgp.jpg);*/
		/*background: url(http://i.imgur.com/IQF2ZkE.jpg);*/

}

body {
		margin: 15px auto;
		background: #fff3e5;
}


a {
		text-decoration: none;
}
/*-------- END GLOBAL STYLING --------*/


/*-------- NAVBAR --------*/

#logo {
		display: block;
		width: 210px;
		margin: 0 auto;
}

#nav>a>img {
		margin: 8px 7px 0 7px;
		width: 105px;
}

#nav {
		text-align: center;
}

hr {
		border: 3px solid black;
		margin: 2px 0 2px 0;
}
/*-------- END --------*/

/*-------- MAIN CONTENT STYLING --------*/
.welcome>h1, #logo_holder>h2, .members>h1, .tags>h1 {
		margin: 0;
		font-family: 'Oswald', sans-serif;
		letter-spacing: 1.5pt;
		text-transform: uppercase;
		font-size: 4em;
		text-align: center;
}

.members {
	margin: 0 20px;
}

.members>h1, .show>h1 {
		font-size: 2em;
		letter-spacing: .5pt;
	}

#logo_holder>h2 {
		font: 400 12pt 'PT Sans', sans-serif;
		padding: 5px;
		color: #fff3e5;
		background: black;
	}

#immy {
		display: block;
		width: 45%;
		margin: 35px auto;
}

.members>h2, .single a, #post_group a {
		display: block;
		margin-top: 0;
		margin-bottom: 20px;
		text-align: center;
		color: black;
}

#post_group>a, .post>a {	
	font-weight: 700;	
	text-transform: uppercase;
}

#new {
	font-size: 13pt;
	text-transform: uppercase;
	color: black;
}

.photo {
	display: inline;
}

.photo>a>img {
	display: inline-block;
	margin: 0;
	max-height: 200px;
}

.single img {
		max-height: 200px;
}

.single p {
		color: black;
}

.single, .single_tag {
		display: inline-block;
		padding: 10px 10px;
		margin: 10px;
		background: rgba(255, 255, 255, .3);
		border: 2px solid rgba(5, 5, 5, .6);
}

#group {
		text-align: center;
}

.show {
	display: block;
	text-align: center;
}

#bioplate>img {
		float: left;
		max-height: 250px;
}



#bioplate, .text {
		display: inline-block;
}


.text, #bioplate form, .text>a {
		color: #78a1d3;
		text-align: left;
		margin-left: 15px;
		letter-spacing: 1pt;
		font: 400 12pt 'PT Sans', sans-serif;
}

.text span, .single span {
		color: black;
		font-weight: 700;
}

#bioplate button, .tags button {
		margin: 0 0 0 10px;
		background: none;
		color: black;
		border: 2px solid black;
}

#bioplate>form {
	margin-top: 10px;
}

.show #post_group {
	margin-top: 10px;	
	border: 2px solid black;
}

#post_group>h2 {
		font: 700 18pt 'PT Sans', sans-serif;
		margin-top: 10px;	
		margin-bottom: 5px;
		/*color: #78a1d3;*/
		margin-bottom: 0;
		text-transform: uppercase;
}

#post_group {
	margin: 20px;
	border: 3px solid #43443d;
}

.post {
	display: inline-block;
	margin: 0 5px;
}

.post img {
	max-height: 250px;
	margin-bottom: 8px;
}

.tags a, #tags_group {
	text-align: center;
	font: 400 14pt 'PT Sans', sans-serif;
	color: black;
}


.single_tag {
	margin-top: 10px;
}

.tags>#new {
	text-align: center;
}

#tag_add {
	text-align: center;
	float: none;
	margin: 40px;
}

#tag_add .tag {
	margin-top: 30px;
}



/*-------- END --------*/

/*--------- FORM TEMPLATE ---------*/

.edit {
		margin: 0 auto;
    max-width: 500px;

    background: #F7F7F7;
    padding: 25px 15px 25px 10px;
    /*----weight font-size fontname, backup font-----*/
    font: 700 10pt 'PT Sans', sans-serif;
    color: #888;
    border:1px solid #E4E4E4;
}
.edit h2 {
    font-size: 25px;
    padding: 0px 0px 10px 40px;
    display: block;
    border-bottom:1px solid #E4E4E4;
		margin: -10px -15px 30px -10px; 
		color: #888;
}
.edit label {
    display: block;
    margin: 0px;
}

/* > means only select the child level elements. ex) below it means only select the child spans of label*/
.edit label>span {
    float: left;
    width: 20%;
    text-align: right;
    padding-right: 10px;
    margin-top: 10px;
    color: #888;
}

.edit input[type="text"], .edit textarea, .edit select {
    border: 1px solid #DADADA;
    color: #888;
    height: 30px;
    margin-bottom: 16px;
    margin-right: 6px;
    margin-top: 2px;
    outline: 0 none;
    padding: 3px 3px 3px 5px;
    width: 70%;
    font-size: 12px;
    line-height:15px;
    box-shadow: inset 0px 1px 4px #ECECEC;
}
.edit textarea{
    padding: 5px 3px 3px 5px;
}
.edit select {
    background: #F7F7F7 url('down-arrow.png') no-repeat right;
    background: #fff3e5 url('down-arrow.png') no-repeat right);
    text-indent: 0.01px;
    width: 70%;
    height: 35px;
    line-height: 25px;
}
.edit textarea{
    height:100px;
}
.edit .button {
    background: #E27575;
    border: none;
    padding: 10px 25px 10px 25px;
    color: #fff3e5;
    box-shadow: 1px 1px 5px #B6B6B6;
    border-radius: 3px;
    text-shadow: 1px 1px 1px #9E3F3F;
    cursor: pointer;
}

/*-------- END --------*/

/* EVENT HANDLERS */

#bioplate button:hover {
	background: #78a1d3;
}

a:hover, #new:hover {
	color: #78a1d3;
}

.single_tag>a:hover {
	color: black;
}

.single_tag:hover, .single:hover {
	border: 2px solid #78a1d3;
}

.tags>#new:hover {
	color: black;
}
