<h1 id="welcome">Welcome to Imstagram</h1>
<h2>A place for dog owners to share their dog pics</h2>
<div class="main_content">
	<a href="/photos"><img src="http://i.imgur.com/ejn4oU5.jpg" id="immy"></a>
</div>