<h1>Click A Tag To See All the Related Images</h1>
<div class="main_content">
	<% @tags.each do |tag| %>
		<a href="/tags/<%= tag.id %>"><h4><%= tag.name %></h4></a>
	<% end %>
</div>


<!-- tag table column headers -->
 <!-- id |    name    -->
<!-- tag table joined with photos -->